extends templates/_layout
//- content
block content
    //- Header Text
    mj-section(background-url="https://mcusercontent.com/72a10dc43222ad5ff620f1c72/images/2f5e5d84-f12f-025e-13ff-99e25e3aa1cb.jpg" background-size="600px" background-repeat="no-repeat" )
        mj-column
            mj-spacer(height="120px")
            mj-text(font-size="40px" font-weight="800" letter-spacing="8px" line-height="0,4%" text-transform="uppercase") Sankalp
            mj-text(font-size="11px" font-weight="600" letter-spacing="3px" text-transform="uppercase") building the india of tomorrow
            mj-spacer(height="8px")
            mj-text(letter-spacing="2px" text-transform="uppercase") 15th august 2024 | ola futurefactory